.loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  background: #ffffffe6;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1111;
}
