.base {
  width: 100%;
  height: 100%;
  background: #fff;
}

.base_wrapper {
  max-width: 1340px;
  height: 100%;
  margin: 0 auto;
}
.base_content {
  display: flex;
  justify-content: space-between;
}
.categories_list p {
  cursor: pointer;
}
.categories_list .active {
  color: #ed165f;
}
.base_title h1 {
  font-weight: 800;
  font-size: 30px;
  line-height: 60%;
  letter-spacing: 3px;
  color: #000000;
  margin: 88px 0 55px;
}

.filter_part {
  max-width: 301px;
  margin-bottom: 100px;
}

.categories {
  margin-bottom: 64px;
}

h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 90%;
  color: #000000;
  margin-bottom: 16px;
}

.black_line {
  width: 100%;
  background-color: #000;
  border: 1px solid #00000080;
  margin-bottom: 32px;
}

.categories_list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.categories_list p {
  font-weight: 600;
  font-size: 16px;
  line-height: 112%;
  margin: 12px 0;
  color: #686868;
  text-transform: capitalize;
}

.sizes_block {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 64px;
}
.size_button {
  width: 54px;
  height: 32px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  color: #000000;
  margin: 0 16px 16px 0;
  cursor: pointer;
}

.colors {
  margin-bottom: 64px;
}

.color_button {
  display: flex;
  align-items: center;
  margin: 0 16px 16px 0;
}

.color_button p {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #000000;
}

.color_button div {
  width: 32px;
  height: 32px;
  border-radius: 2px;
  margin-right: 7px;
}

.colors_block {
  display: flex;
  flex-wrap: wrap;
}

.prices_filter input {
  width: 27px;
  height: 27px;
  border: 0.5px solid #000000;
  cursor: pointer;
  margin-right: 16px;
}

.prices_filter div {
  display: flex;
  margin: 16px 0;
}

.price_filterer {
  display: flex;
}
.price_filterer p {
  font-weight: 600;
  font-size: 14px;

  color: #000000;
  margin: 0 8px 0 8px;
}

.price_filterer input {
  width: 61px;
  height: 27px;
  border: 0.5px solid #000000;
  border-radius: 2px;
  outline: none;
  text-indent: 5px;
}

.apply_button input {
  width: 67px;
  height: 27px;
  background: #ed165f;
  border-radius: 2px;
  margin-left: 16px;
  border: none;
  font-weight: 300;
  font-size: 14px;
  cursor: pointer;
  color: #ffffff;
}
.products_part {
  width: 100%;
}

.products_part .black_line {
  max-width: 990px;
}

.sort_select {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 28px;
}

.sort_select select,
option {
  width: 195px;
  height: 37px;
  background: #ffffff;
  outline: none;
  cursor: pointer;
  text-indent: 10px;

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;

  color: #000000;
  margin-top: -20px;
  margin-bottom: 16px;
}

.sort_select option {
  height: 37px;
}

.products_part {
  max-width: 990px;
  height: auto;
}
.product_content .items {
  display: flex;
  flex-wrap: wrap;
}

.product_content .items {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 1360px) {
  .base_wrapper {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 880px) {
  .product_content .items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .product_content .pagination_top {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: static;
    padding: 0;
    margin-bottom: 60px;
  }
  .product_content .pagination_top .to_start_button {
    position: static;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 620px) {
  .base_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .base_title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
