.profile {
  width: 100%;
  height: 100%;
}

.profile_wrapper {
  padding-top: 64px;
  max-width: 1320px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.sidebar {
  /* width: 313px; */
  width: 23%;
  height: 886px;
  background: #ffffff;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
  position: relative;
}

.sidebar_title {
  margin: 32px auto 48px;
}
.sidebar_title h1 {
  font-weight: 800;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: 0.2px;
  color: #000000;
}

.sign_out {
  width: 140px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: absolute;
  bottom: 45px;
  left: 27%;
  cursor: pointer;
}
.sign_out svg {
  margin-right: 15px;
}
.sign_out:hover {
  background: #ecd1d1;
}
.sign_out p {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #ed165f;
}

.side_menu_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.slist_item {
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 33px;
}

.slist_item svg {
  margin-right: 18px;
}

.content_part {
  /* width: 970px; */
  width: 73%;
  height: 100%;
}

.side_menu_list .active {
  width: 100%;
  height: 100%;
  background: #ed165f;
}

.side_menu_list .active .slist_item * {
  color: #ffffff;
  fill: #ffffff;
}

.user_inf {
  width: 100%;
  height: 100%;
}

.content_block_title h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 75%;
  letter-spacing: 0.2px;
  color: #000000;
  margin: 32px 0;
}

.info_form form {
  width: 100%;
  height: 802px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  padding-left: 64px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

.info_form form p {
  margin: 20px 0 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.info_form form input,
.acc_gender {
  height: 50px;
  width: 300px;
  text-indent: 10px;
  font-size: 18px;
  outline: none;
  border-radius: 4px;
  border: 1px solid black;
}

.info_form form span {
  color: red;
  margin-top: 4px;
}

.change_password a {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #ed165f;
}
.change_password {
  margin-top: 20px;
  margin-bottom: 22px;
}

.newsletters .newsletter_input {
  width: 16px;
  height: 16px;
  background: #ed165f;
  border-radius: 4px;
}

.newsletters p {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.save_button .submit_button {
  margin-top: 30px;
  width: 261px;
  height: 47px;
  background: #ed165f;
  border-radius: 6px;
  border: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.setFormButton input {
  width: 261px;
  height: 47px;
  background: #ed165f;
  border-radius: 6px;
  border: none;
  cursor: pointer;

  font-weight: 600;
  font-size: 18px;
  line-height: 24px;

  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

.favorite {
  width: 410px;
  height: 261px;
  background: #ffffff;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  padding: 32px;
  position: relative;
  margin-bottom: 30px;
}
.item_inform {
  display: flex;
  align-items: flex-start;
}

.fav_img img {
  width: 87px;
  height: 87px;
}

.fav_descrip {
  margin-top: 10px;
  margin-left: 24px;
}

.fav_descrip h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;
  letter-spacing: 0.2px;
  margin-bottom: 16px;
  color: #000000;
}

.fav_descrip p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ed165f;
  margin-top: 8px;
}

.favorites {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.buy_now input,
.remove {
  width: 171px;
  height: 47px;
  border-radius: 6px;
}

.buy_now input {
  background: #ed165f;
}

.fav_buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 32px;
}
.buy_now input {
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.remove {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.remove:hover {
  background: #ecd1d1;
}
.remove svg {
  margin-right: 8px;
}
.remove p {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #ed165f;
}

@media only screen and (max-width: 1330px) {
  .profile_wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 1180px) {
  .favorites {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 880px) {
  .sidebar_title h1 {
    font-size: 13px;
  }
  .slist_item p {
    font-size: 13px;
  }
  .slist_item {
    padding-left: 13px;
  }
  .sign_out {
    left: 10%;
  }
}

@media only screen and (max-width: 700px) {
  .sidebar_title h1 {
    font-size: 10px;
  }
  .slist_item p {
    font-size: 10px;
  }
}

@media only screen and (max-width: 570px) {
  .profile_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sidebar {
    width: 100%;
    height: 40%;
  }
  .side_menu_list,
  .slist_item {
    align-items: center;
    justify-content: center;
  }
  .sidebar_title {
    margin: 10px auto;
  }
  .sign_out {
    position: absolute;
    top: 3px;
    left: -25px;
    display: flex;
    align-items: center;
  }
  .sign_out p {
    font-size: 8px;
  }
  .sign_out svg {
    margin-right: 4px;
    width: 10px;
  }
  .slist_item svg {
    margin-right: 8px;
  }
  .sidebar {
    margin-bottom: 10px;
  }
  .content_part {
    width: 100%;
    margin-bottom: 20px;
  }
  .content_block_title h2 {
    font-size: 15px;
    margin-bottom: 13px;
  }
  .favorites {
    margin: 30px 0;
  }
}

@media only screen and (max-width: 460px) {
  .info_form form {
    height: 100%;
  }
  .info_form form {
    padding: 10px 0 0 20px;
  }
  .info_form form p {
    margin-bottom: 8px;
  }
  .info_form form input,
  .info_form form select,
  .info_form form select option {
    height: 35px;
    font-size: 16px;
  }
  .info_form form span {
    font-size: 14px;
  }
  .info_form form select option {
    font-size: 10px;
  }
  .newsletters input {
    margin-top: 10px;
  }
  .newsletters p {
    font-size: 12 px;
  }

  .favorites {
    margin-bottom: 0;
  }

  .favorites .favorite {
    width: 95%;
    padding: 14px;
    height: 210px;
  }
  .buy_now input,
  .remove {
    width: 121px;
    height: 40px;
  }
  .buy_now input,
  .remove p{
    font-size: 14px;
  }
  .fav_descrip h4 {
    font-size: 16px;
  }
}
